<div
  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Customer Add</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">?</button>
    </div>
  </div>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Customer Add
          </li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>UserId</b>
    </div>
  </div>
</div>

<form action="/add" method="post">
  <div class="row form-group mb-4">
    <div class="col">
      <label for="firstName" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        placeholder="Enter first name"
        required
      />
    </div>
    <div class="col">
      <label for="lastName" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        name="lastName"
        placeholder="Enter last name"
        required
      />
    </div>
  </div>

  <div class="row form-group mb-4">
    <div class="col">
      <label for="telephone" class="form-label">Telephone</label>
      <input
        type="number"
        class="form-control"
        id="telephone"
        name="telephone"
        placeholder="Enter telephone"
        required
      />
    </div>
    <div class="col">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
        required
      />
    </div>
  </div>

  <div class="form-group mb-4">
    <label for="details" class="form-label">Details</label>
    <textarea
      class="form-control"
      name="details"
      id="details"
      placeholder="Customer details"
      required
      cols="30"
      rows="12"
    ></textarea>
  </div>

  <div class="form-group mb-4">
    <button type="submit" class="btn btn-primary">Add Customer</button>
  </div>
</form>
